<apex:page standardController="Account" recordSetVar="accounts" extensions="CompareRecordsPageController">
    <apex:includeLightning />
    
    <div id="container"></div>
    
    <script>
    	$Lightning.use("c:CompareRecordsApp", function() {
            $Lightning.createComponent("c:CompareRecords",
                {
                    'recordIds' : '{!recordIds}',
                    'objectApiName' : 'Account'
                },
                "container",
                function(cmp){
                }
            );            
        });
    </script>
    
</apex:page>